@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --one-col: 20%;
  --two-col: 20%;
  --three-col: 20%;
  --four-col: 20%;
  --five-col: 20%;

  --clr-white: #fefefe;
  --clr-red: #ee0e0e;
  --clr-black: #010101;
  --clr-gray: #a1a1a1;

  --blink-animation-time: 0.4s;
  --scale-in-animation-time: 1s;
  --fade-in-animation-time: 4s;
  --screen-info-pop-animation-delay: calc(var(--scale-in-animation-time) * 0.5);

  --item-animation-time: 0.25s;
  --item-animation-delay: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", serif;
  overflow: hidden;
  text-transform: uppercase;
}

p,
h1 {
  margin: 0;
}

#wrapper {
  margin: auto;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 1rem;
}

#screen-info {
  font-size: 0.6rem;
  color: var(--clr-gray);
  display: flex;
  align-items: center;
  visibility: hidden;

  -webkit-animation: popIn 0s var(--screen-info-pop-animation-delay) forwards;

          animation: popIn 0s var(--screen-info-pop-animation-delay) forwards;
}

.block {
  background: var(--clr-gray);
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 4px;
}

#menu-title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  h1 {
    font-weight: 800;
    opacity: 0;
    -webkit-animation: fadeIn var(--fade-in-animation-time) forwards;
            animation: fadeIn var(--fade-in-animation-time) forwards;
  }

  &:after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    top: 100%;
    width: 100%;
    padding-right: 1rem;
    background: var(--clr-black);
    transform-origin: left center;
    -webkit-animation: scaleIn var(--scale-in-animation-time) ease-in-out forwards;
            animation: scaleIn var(--scale-in-animation-time) ease-in-out forwards;
  }
}

.indicator-symbol {
  background: var(--clr-black);
  width: 1rem;
  height: 1.5rem;
  margin-right: 4px;
  -webkit-clip-path: polygon(0% 0%, 66% 0%, 100% 33%, 100% 66%, 66% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 66% 0%, 100% 33%, 100% 66%, 66% 100%, 0% 100%);
}

#menu {
  display: grid;
  grid-template-columns:
    var(--one-col) var(--two-col) var(--three-col) var(--four-col)
    var(--five-col);
  gap: 4px;
  align-self: center;
  justify-self: center;
  width: 100%;
  margin-top: 0.5rem;
  transition: grid-template-columns 0.1s linear;
  transition: grid-template-columns 0.1s linear, -ms-grid-columns 0.1s linear;
}

.item {
  color: var(--clr-white);
  background: var(--clr-white);
  padding-left: 0.5rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
  position: relative;
  font-size: 1.1rem;

  -webkit-clip-path: polygon(0% 0%, 92.5% 0%, 95% 15%, 100% 15%, 100% 100%, 0% 100%);

          clip-path: polygon(0% 0%, 92.5% 0%, 95% 15%, 100% 15%, 100% 100%, 0% 100%);

  &:hover {
    cursor: pointer;
    
    &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.55rem;
    -webkit-animation: 
      blink var(--blink-animation-time) infinite both;
            animation: 
      blink var(--blink-animation-time) infinite both;
    margin-top: 6px;
    font-weight: 900;
    z-index: 2;
    width: 0.6ch;
    border: solid var(--clr-white) 2px;
  }

  &:after {
    left: 0;
    padding-left: 0.5rem;
    content: var(--item-text);
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--clr-white);
    background: var(--clr-red);
  }
  }
}

#one {
 -webkit-animation: itemOne var(--item-animation-time) var(--item-animation-delay)
    forwards;
         animation: itemOne var(--item-animation-time) var(--item-animation-delay)
    forwards;
}

#two {
  -webkit-animation: itemTwo var(--item-animation-time) var(--item-animation-delay)
    forwards;
          animation: itemTwo var(--item-animation-time) var(--item-animation-delay)
    forwards;
}

#three {
  -webkit-animation: itemThree var(--item-animation-time) var(--item-animation-delay)
    forwards;
          animation: itemThree var(--item-animation-time) var(--item-animation-delay)
    forwards;
}

#four {
  -webkit-animation: itemFour var(--item-animation-time) var(--item-animation-delay)
    forwards;
          animation: itemFour var(--item-animation-time) var(--item-animation-delay)
    forwards;
}

#five {
  -webkit-animation: itemFive var(--item-animation-time) var(--item-animation-delay)
    forwards;
          animation: itemFive var(--item-animation-time) var(--item-animation-delay)
    forwards;
}

#menu:has(#one:hover) {
  --one-col: 22%;
  --two-col: 19.5%;
  --three-col: 19.5%;
  --four-col: 19.5%;
  --five-col: 19.5%;
}

#menu:has(#two:hover) {
  --one-col: 19.5%;
  --two-col: 22%;
  --three-col: 19.5%;
  --four-col: 19.5%;
  --five-col: 19.5%;
}

#menu:has(#three:hover) {
  --one-col: 19.5%;
  --two-col: 19.5%;
  --three-col: 22%;
  --four-col: 19.5%;
  --five-col: 19.5%;
}

#menu:has(#four:hover) {
  --one-col: 19.5%;
  --two-col: 19.5%;
  --three-col: 19.5%;
  --four-col: 22%;
  --five-col: 19.5%;
}

#menu:has(#five:hover) {
  --one-col: 19.5%;
  --two-col: 19.5%;
  --three-col: 19.5%;
  --four-col: 19.5%;
  --five-col: 22%;
}

@-webkit-keyframes blink {
  from {
    border-color: var(--clr-red);
  }

  to {
    border-color: var(--clr-white);
  }
}

@keyframes blink {
  from {
    border-color: var(--clr-red);
  }

  to {
    border-color: var(--clr-white);
  }
}

@-webkit-keyframes scaleIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes scaleIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  to {
    visibility: visible;
  }
}

@keyframes popIn {
  to {
    visibility: visible;
  }
}

@-webkit-keyframes itemOne {
  0%,
  32%,
  70%,
  99% {
    color: var(--clr-gray);
    background: var(--clr-gray);
  }

  33%,
  69% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@keyframes itemOne {
  0%,
  32%,
  70%,
  99% {
    color: var(--clr-gray);
    background: var(--clr-gray);
  }

  33%,
  69% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@-webkit-keyframes itemTwo {
  0%,
  32% {
    color: var(--clr-gray);
    background: var(--clr-gray);
  }

  33%,
  99% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@keyframes itemTwo {
  0%,
  32% {
    color: var(--clr-gray);
    background: var(--clr-gray);
  }

  33%,
  99% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@-webkit-keyframes itemThree {
  0%,
  32%,
  60%,
  79% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  33%,
  59%,
  80%,
  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@keyframes itemThree {
  0%,
  32%,
  60%,
  79% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  33%,
  59%,
  80%,
  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@-webkit-keyframes itemFour {
  0%,
  32% {
    color: var(--clr-gray);
    background: var(--clr-gray);
  }

  33%,
  69% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  70%,
  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@keyframes itemFour {
  0%,
  32% {
    color: var(--clr-gray);
    background: var(--clr-gray);
  }

  33%,
  69% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  70%,
  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@-webkit-keyframes itemFive {
  0%,
  32% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  70%,
  99% {
    color: var(--clr-gray);
    background: var(--clr-gray);
  }

  33%,
  69%,
  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@keyframes itemFive {
  0%,
  32% {
    color: var(--clr-white);
    background: var(--clr-white);
  }

  70%,
  99% {
    color: var(--clr-gray);
    background: var(--clr-gray);
  }

  33%,
  69%,
  100% {
    color: var(--clr-white);
    background: var(--clr-black);
  }
}

@media (max-width: 675px) {
  #menu {
    grid-template-columns: 1fr;
  }

  #wrapper {
    height: 0%;
  }

  .item {
    margin: 6px 0;
    width: 95%;
    transition: width 0.1s linear;

    &:hover {
      width: 100%;
    }
  }
}